.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.map-container {
  width: 55vw;
  height: calc(100vh - 5rem); /* subtract any additional margins or padding */
  border-radius: 0.5rem;
  overflow: hidden; /* clip any content that overflows the rounded corners */
  height: 100%;
}

.incumbents {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 45vw;
  height: min-content;
  max-height: 400px;
  overflow: auto;
  margin: 20px;
}

.district {
  height: min-content;
  max-height: 300px;
  width: 45vw;
}

.data {
  overflow: hidden;
}

.incumbents td,
#incumbents th {
  border: 1px solid #ddd;
  padding: 8px;
}

.incumbents tr:nth-child(even) {
  background-color: #f2f2f2;
}

.incumbents tr:hover {
  background-color: #ddd;
}

.incumbents th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #625f63;
  color: white;
}

.ui.celled.table {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
}

.ui.celled.table th {
  padding: 5px;
}

.ui.celled.table td {
  padding: 4px;
}

.button-group {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-200%);
  z-index: 1000;
}

.button-group button {
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #0069d9;
}

.button-group button.active {
  background-color: #0062cc;
}
