.App {
  text-align: center;
}

.map-container {
  width: 50%;
  height: calc(100vh - 2rem); /* subtract any additional margins or padding */
  border-radius: 0.5rem;
  overflow: hidden; /* clip any content that overflows the rounded corners */
  margin: 5px;
  height: 100%;
}
